body {
  margin: 0
}

header {
  background-color: lightblue;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  background-image: url("../../images/park.jpg");
  background-size: cover;
  display: grid;
  justify-content: center;
}

aside {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

h1,p {
  text-align: center;
}
.small-logo {
  width: 30px;
  height: 30px;
}

.small-links {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.round-doggy {
  border-radius: 50%;
  border: 5px solid teal;
}

.small {
  height: 200px;
  width: 200px;
  border: 3px solid teal;
}
